<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/Program.cs,**/Controllers/*.cs,**/DTOs/*.cs,**/IISService.cs,**/DeployIISService.cs,**/MigrationService.cs,**/PastaService.cs,**/InformacaoService.cs,**/TerminalService.cs,**/PathHelper.cs,**/ShellExecute.cs,**/ShellExecutor.cs,**/IShell*.cs,**/WindowsShellProvider.cs,**/Terminais/ITerminalEmulator.cs,**/Terminais/PtyxisTerminal.cs,**/Terminais/GhosttyTerminal.cs,**/IIDEJsonService.cs,**/IGitCommandRunner.cs</ExcludeByFile>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
